<div [formGroup]="form">
  <ng-container [ngSwitch]="field.type">
    <ng-container *ngSwitchCase="'text'">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>{{ field.label }}</mat-label>
        <input
          matInput
          [formControlName]="field.name"
          [placeholder]="field.placeholder!"
        />
      </mat-form-field>
      <ng-container *ngFor="let err of getErrors()">
        <mat-error>{{
          field.errorMessages ? field.errorMessages[err] : err
        }}</mat-error>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'password'">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>{{ field.label }}</mat-label>
        <input
          matInput
          [type]="field.extra && field.extra.hide ? 'password' : 'text'"
          [formControlName]="field.name"
          [placeholder]="field.placeholder!"
          (focus)="onPasswordFocus()"
          (blur)="onPasswordBlur()"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="togglePassword()"
        >
          <mat-icon>{{
            field.extra && field.extra.hide ? 'visibility_off' : 'visibility'
          }}</mat-icon>
        </button>
      </mat-form-field>
      <ng-container *ngFor="let err of getErrors()">
        <mat-error>{{
          field.errorMessages ? field.errorMessages[err] : err
        }}</mat-error>
      </ng-container>
      <div
        *ngIf="passwordFieldFocused[field.name]"
        class="legend text-sm text-gray-600 mt-2"
      >
        <app-password-legend [form]="form"></app-password-legend>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'textarea'">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>{{ field.label }}</mat-label>
        <textarea
          matInput
          [formControlName]="field.name"
          [placeholder]="field.placeholder!"
        ></textarea>
      </mat-form-field>
      <ng-container *ngFor="let err of getErrors()">
        <mat-error>{{
          field.errorMessages ? field.errorMessages[err] : err
        }}</mat-error>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'select'">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>{{ field.label }}</mat-label>
        <mat-select
          [formControlName]="field.name"
          [required]="field.extra?.required!"
          [multiple]="field.extra?.multiple"
        >
          <mat-option *ngIf="field.extra?.search">
            <ngx-mat-select-search
              [formControl]="field.extra?.searchControl!"
              placeholderLabel="Search..."
              noEntriesFoundLabel="No matching"
            ></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngIf="field.extra?.loader" disabled>
            <mat-progress-spinner
              mode="indeterminate"
              diameter="20"
            ></mat-progress-spinner>
          </mat-option>
          <mat-option *ngFor="let option of field.options" [value]="option">
            {{ getOptionLabel(option) }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <ng-container *ngFor="let err of getErrors()">
        <mat-error>{{
          field.errorMessages ? field.errorMessages[err] : err
        }}</mat-error>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'camera'">
      <app-camera-capture
        (imageCaptured)="onCameraCaptured($event)"
      ></app-camera-capture>
    </ng-container>

    <ng-container *ngSwitchDefault>
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>{{ field.label }}</mat-label>
        <input
          matInput
          [formControlName]="field.name"
          [placeholder]="field.placeholder!"
        />
      </mat-form-field>
      <ng-container *ngFor="let err of getErrors()">
        <mat-error>{{
          field.errorMessages ? field.errorMessages[err] : err
        }}</mat-error>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
