<app-navbar></app-navbar>
<ng-container *ngIf="profile === undefined; else loaded">
  <ng-container *ngTemplateOutlet="loading"></ng-container>
</ng-container>
<ng-template #loaded>
  <ng-container *ngIf="profile === null; else profileCreated">
    <ng-template [ngTemplateOutlet]="profileForm"></ng-template>
  </ng-container>
</ng-template>
<ng-template #profileCreated>
  <div class="text-center p-4">Profile created</div>
</ng-template>
<ng-template #profileForm>
  <div class="flex items-center justify-center min-h-screen p-4">
    <mat-horizontal-stepper linear class="w-full max-w-3xl">
      <mat-step [stepControl]="addressForm" label="Address">
        <app-address-form
          [formGroup]="addressForm"
          [countryFilterCtrl]="countryFilterCtrl"
          [filteredCountries]="filteredCountries"
          [cityFilterCtrl]="cityFilterCtrl"
          [filteredCitiesList]="filteredCitiesList"
          [citiesLoading]="false"
        >
        </app-address-form>
      </mat-step>
      <mat-step [stepControl]="userDataForm" label="User Data">
        <app-user-data-form
          [formGroup]="userDataForm"
          [imageSrc]="imageSrc"
          (fileSelectedEvent)="onFileSelected($event)"
          [isFreelancer]="false"
        >
        </app-user-data-form>
        <div class="flex justify-end mt-4">
          <button
            mat-button
            (click)="completeStepper()"
            class="bg-green-500 text-white px-4 py-2 rounded"
            [disabled]="userDataForm.invalid"
          >
            Complete
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</ng-template>
<ng-template #loading>
  <div class="flex items-center justify-center min-h-screen">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-template>
