<div class="flex items-center justify-center min-h-screen p-4">
  <mat-card class="w-full max-w-lg p-6 shadow-lg bg-gray-100 rounded-lg">
    <h2 class="text-2xl font-semibold mb-6 text-center">
      {{ mode === 'register' ? 'Sign Up' : 'Log In' }}
    </h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div *ngFor="let field of fields" class="mb-4">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>{{ field.label }}</mat-label>
          <input
            matInput
            [type]="
              field.name === 'password'
                ? hidePassword
                  ? 'password'
                  : 'text'
                : field.type
            "
            [formControlName]="field.name"
            [placeholder]="field.placeholder"
            (focus)="
              field.name === 'password' ? (passwordFieldFocused = true) : null
            "
            (blur)="
              field.name === 'password' ? (passwordFieldFocused = false) : null
            "
          />
          <button
            *ngIf="field.name === 'password'"
            mat-icon-button
            matSuffix
            type="button"
            (mousedown)="$event.preventDefault()"
            (click)="togglePasswordVisibility()"
            class="password-toggle"
          >
            <mat-icon>{{
              hidePassword ? 'visibility_off' : 'visibility'
            }}</mat-icon>
          </button>
          <mat-error
            *ngIf="
              form.get(field.name)?.hasError('required') &&
              (form.get(field.name)?.touched || form.get(field.name)?.dirty)
            "
          >
            {{ field.label }} is required
          </mat-error>
          <mat-error
            *ngIf="
              form.get(field.name)?.hasError('email') &&
              (form.get(field.name)?.touched || form.get(field.name)?.dirty)
            "
          >
            Please enter a valid email
          </mat-error>
          <mat-error
            *ngIf="
              field.name === 'phoneNumber' &&
              form.get(field.name)?.hasError('pattern') &&
              (form.get(field.name)?.touched || form.get(field.name)?.dirty)
            "
          >
            Phone number must contain only digits
          </mat-error>
        </mat-form-field>
        <div
          *ngIf="field.name === 'password' && passwordFieldFocused"
          class="legend text-sm text-gray-600 mt-2"
        >
          <app-password-legend [form]="form"></app-password-legend>
        </div>
      </div>
      <button
        type="submit"
        class="mx-auto block w-full max-w-sm px-4 py-2 text-lg font-semibold text-white bg-green-500 rounded-md hover:bg-green-600 transition-colors"
      >
        {{ mode === 'register' ? 'Create Account' : 'Log In' }}
      </button>
    </form>
  </mat-card>
</div>
