<ng-container *ngIf="cardWrapper; else noWrapper">
  <div class="flex items-center justify-center min-h-screen p-4">
    <mat-card class="w-full max-w-lg p-6 shadow-lg bg-gray-100 rounded-lg">
      <h2 class="text-2xl font-semibold mb-6 text-center">
        {{ formText === 'register' ? 'Sign Up' : 'Log In' }}
      </h2>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <ng-container *ngFor="let field of fields">
          <app-dynamic-field
            [field]="field"
            [form]="form"
            [passwordFieldFocused]="passwordFieldFocused"
            (cameraCaptured)="onCameraCaptured($event.fieldName, $event.image)"
            (passwordFocus)="onPasswordFocus($event)"
            (passwordBlur)="onPasswordBlur($event)"
            (togglePasswordEvent)="togglePassword($event)"
          ></app-dynamic-field>
        </ng-container>
        <div class="flex justify-end mt-4">
          <button
            *ngIf="previousButton"
            mat-button
            type="button"
            (click)="stepper.previous()"
          >
            {{ previousButtonLabel }}
          </button>
          <button
            *ngIf="nextButton"
            mat-button
            type="button"
            [disabled]="form.invalid || nextButtonDisabled"
            (click)="stepper.next()"
          >
            {{ nextButtonLabel }}
          </button>
          <button
            *ngIf="!previousButton && !nextButton && submitLabel"
            mat-button
            type="submit"
            [disabled]="form.invalid"
          >
            {{ submitLabel }}
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</ng-container>

<ng-template #noWrapper>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ng-container *ngFor="let field of fields">
      <app-dynamic-field
        [field]="field"
        [form]="form"
        [passwordFieldFocused]="passwordFieldFocused"
        (cameraCaptured)="onCameraCaptured($event.fieldName, $event.image)"
        (passwordFocus)="onPasswordFocus($event)"
        (passwordBlur)="onPasswordBlur($event)"
        (togglePasswordEvent)="togglePassword($event)"
      ></app-dynamic-field>
    </ng-container>
    <div class="flex justify-end mt-4">
      <button
        *ngIf="previousButton"
        mat-button
        type="button"
        (click)="stepper.previous()"
      >
        {{ previousButtonLabel }}
      </button>
      <button
        *ngIf="nextButton"
        mat-button
        type="button"
        [disabled]="form.invalid || nextButtonDisabled"
        (click)="stepper.next()"
      >
        {{ nextButtonLabel }}
      </button>
      <button
        *ngIf="!nextButton && submitLabel"
        mat-button
        type="submit"
        [disabled]="form.invalid"
      >
        {{ submitLabel }}
      </button>
    </div>
  </form>
</ng-template>
