<ng-container *ngIf="cardWrapper; else noWrapper">
  <div class="flex items-center justify-center min-h-screen p-4">
    <mat-card class="w-full max-w-lg p-6 shadow-lg bg-gray-100 rounded-lg">
      <h2 class="text-2xl font-semibold mb-6 text-center">
        {{ formText === 'register' ? 'Sign Up' : 'Log In' }}
      </h2>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <ng-container *ngFor="let field of fields">
          <ng-container [ngSwitch]="field.type">
            <!-- Text Field -->
            <ng-container *ngSwitchCase="'text'">
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>{{ field.label }}</mat-label>
                <input
                  matInput
                  [formControlName]="field.name"
                  [placeholder]="field.placeholder!"
                />
              </mat-form-field>
              <ng-container *ngFor="let err of getErrors(field.name)">
                <mat-error>{{
                  field.errorMessages ? field.errorMessages[err] : err
                }}</mat-error>
              </ng-container>
            </ng-container>

            <!-- Password Field with Legend -->
            <ng-container *ngSwitchCase="'password'">
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>{{ field.label }}</mat-label>
                <input
                  matInput
                  [type]="field.extra && field.extra.hide ? 'password' : 'text'"
                  [formControlName]="field.name"
                  [placeholder]="field.placeholder!"
                  (focus)="onPasswordFocus(field.name)"
                  (blur)="onPasswordBlur(field.name)"
                />
                <button
                  mat-icon-button
                  matSuffix
                  type="button"
                  (click)="togglePassword(field.name)"
                >
                  <mat-icon>{{
                    field.extra && field.extra.hide
                      ? 'visibility_off'
                      : 'visibility'
                  }}</mat-icon>
                </button>
              </mat-form-field>
              <ng-container *ngFor="let err of getErrors(field.name)">
                <mat-error>{{
                  field.errorMessages ? field.errorMessages[err] : err
                }}</mat-error>
              </ng-container>
              <div
                *ngIf="passwordFieldFocused[field.name]"
                class="legend text-sm text-gray-600 mt-2"
              >
                <app-password-legend [form]="form"></app-password-legend>
              </div>
            </ng-container>

            <!-- Textarea Field -->
            <ng-container *ngSwitchCase="'textarea'">
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>{{ field.label }}</mat-label>
                <textarea
                  matInput
                  [formControlName]="field.name"
                  [placeholder]="field.placeholder!"
                ></textarea>
              </mat-form-field>
              <ng-container *ngFor="let err of getErrors(field.name)">
                <mat-error>{{
                  field.errorMessages ? field.errorMessages[err] : err
                }}</mat-error>
              </ng-container>
            </ng-container>

            <!-- Select Field -->
            <ng-container *ngSwitchCase="'select'">
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>{{ field.label }}</mat-label>
                <mat-select
                  [formControlName]="field.name"
                  [required]="field.extra?.required!"
                >
                  <mat-option *ngIf="field.extra?.search">
                    <ngx-mat-select-search
                      [formControl]="field.extra?.searchControl!"
                      placeholderLabel="Search..."
                      noEntriesFoundLabel="No matching"
                    ></ngx-mat-select-search>
                  </mat-option>
                  <mat-option
                    *ngFor="let option of field.options"
                    [value]="option"
                  >
                    {{ getOptionLabel(option, field) }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <ng-container *ngFor="let err of getErrors(field.name)">
                <mat-error>{{
                  field.errorMessages ? field.errorMessages[err] : err
                }}</mat-error>
              </ng-container>
            </ng-container>

            <!-- Camera Field -->
            <ng-container *ngSwitchCase="'camera'">
              <app-camera-capture
                (imageCaptured)="onCameraCaptured(field.name, $event)"
              ></app-camera-capture>
            </ng-container>

            <!-- Default Fallback Field -->
            <ng-container *ngSwitchDefault>
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>{{ field.label }}</mat-label>
                <input
                  matInput
                  [formControlName]="field.name"
                  [placeholder]="field.placeholder!"
                />
              </mat-form-field>
              <ng-container *ngFor="let err of getErrors(field.name)">
                <mat-error>{{
                  field.errorMessages ? field.errorMessages[err] : err
                }}</mat-error>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>

        <!-- Stepper / Default Navigation Buttons -->
        <div class="flex justify-end mt-4">
          <button
            *ngIf="previousButton"
            mat-button
            matStepperPrevious
            type="button"
          >
            {{ previousButtonLabel }}
          </button>
          <button
            *ngIf="nextButton"
            mat-button
            matStepperNext
            type="submit"
            [disabled]="form.invalid || nextButtonDisabled"
          >
            {{ nextButtonLabel }}
          </button>
          <button
            *ngIf="!previousButton && !nextButton && submitLabel"
            mat-button
            type="submit"
            [disabled]="form.invalid"
          >
            {{ submitLabel }}
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</ng-container>

<ng-template #noWrapper>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ng-container *ngFor="let field of fields">
      <ng-container [ngSwitch]="field.type">
        <!-- Text Field -->
        <ng-container *ngSwitchCase="'text'">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>{{ field.label }}</mat-label>
            <input
              matInput
              [formControlName]="field.name"
              [placeholder]="field.placeholder!"
            />
          </mat-form-field>
          <ng-container *ngFor="let err of getErrors(field.name)">
            <mat-error>{{
              field.errorMessages ? field.errorMessages[err] : err
            }}</mat-error>
          </ng-container>
        </ng-container>

        <!-- Password Field with Legend -->
        <ng-container *ngSwitchCase="'password'">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>{{ field.label }}</mat-label>
            <input
              matInput
              [type]="field.extra && field.extra.hide ? 'password' : 'text'"
              [formControlName]="field.name"
              [placeholder]="field.placeholder!"
              (focus)="onPasswordFocus(field.name)"
              (blur)="onPasswordBlur(field.name)"
            />
            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="togglePassword(field.name)"
            >
              <mat-icon>{{
                field.extra && field.extra.hide
                  ? 'visibility_off'
                  : 'visibility'
              }}</mat-icon>
            </button>
          </mat-form-field>
          <ng-container *ngFor="let err of getErrors(field.name)">
            <mat-error>{{
              field.errorMessages ? field.errorMessages[err] : err
            }}</mat-error>
          </ng-container>
          <div
            *ngIf="passwordFieldFocused[field.name]"
            class="legend text-sm text-gray-600 mt-2"
          >
            <app-password-legend [form]="form"></app-password-legend>
          </div>
        </ng-container>

        <!-- Textarea Field -->
        <ng-container *ngSwitchCase="'textarea'">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>{{ field.label }}</mat-label>
            <textarea
              matInput
              [formControlName]="field.name"
              [placeholder]="field.placeholder!"
            ></textarea>
          </mat-form-field>
          <ng-container *ngFor="let err of getErrors(field.name)">
            <mat-error>{{
              field.errorMessages ? field.errorMessages[err] : err
            }}</mat-error>
          </ng-container>
        </ng-container>

        <!-- Select Field -->
        <ng-container *ngSwitchCase="'select'">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>{{ field.label }}</mat-label>
            <mat-select
              [formControlName]="field.name"
              [required]="field.extra?.required!"
            >
              <mat-option *ngIf="field.extra?.search">
                <ngx-mat-select-search
                  [formControl]="field.extra?.searchControl!"
                  placeholderLabel="Search..."
                  noEntriesFoundLabel="No matching"
                ></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let option of field.options" [value]="option">
                {{ getOptionLabel(option, field) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <ng-container *ngFor="let err of getErrors(field.name)">
            <mat-error>{{
              field.errorMessages ? field.errorMessages[err] : err
            }}</mat-error>
          </ng-container>
        </ng-container>

        <!-- Camera Field -->
        <ng-container *ngSwitchCase="'camera'">
          <app-camera-capture
            (imageCaptured)="onCameraCaptured(field.name, $event)"
          ></app-camera-capture>
        </ng-container>

        <!-- Default Fallback Field -->
        <ng-container *ngSwitchDefault>
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>{{ field.label }}</mat-label>
            <input
              matInput
              [formControlName]="field.name"
              [placeholder]="field.placeholder!"
            />
          </mat-form-field>
          <ng-container *ngFor="let err of getErrors(field.name)">
            <mat-error>{{
              field.errorMessages ? field.errorMessages[err] : err
            }}</mat-error>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>

    <!-- Stepper / Default Navigation Buttons -->
    <div class="flex justify-end mt-4">
      <button
        *ngIf="previousButton"
        mat-button
        matStepperPrevious
        type="button"
      >
        {{ previousButtonLabel }}
      </button>
      <button
        *ngIf="nextButton"
        mat-button
        matStepperNext
        type="submit"
        [disabled]="form.invalid || nextButtonDisabled"
      >
        {{ nextButtonLabel }}
      </button>
      <button
        *ngIf="!previousButton && !nextButton && submitLabel"
        mat-button
        type="submit"
        [disabled]="form.invalid"
      >
        {{ submitLabel }}
      </button>
    </div>
  </form>
</ng-template>
