<div *ngIf="!isDialog">
  <app-form
    [fields]="fields"
    [externalForm]="externalForm"
    [previousButton]="true"
    [nextButton]="isFreelancer"
    [previousButtonLabel]="'Back'"
    [nextButtonLabel]="'Next'"
    [stepper]="stepper"
    (formSubmit)="onFormSubmit()"
    (cameraCaptured)="handleCameraCapture($event)"
  >
  </app-form>
</div>
<div *ngIf="isDialog">
  <app-form
    [fields]="fields"
    [externalForm]="externalForm"
    [initialData]="userData"
    (cameraCaptured)="handleCameraCapture($event)"
  >
  </app-form>
</div>
