<div class="space-y-4" [formGroup]="formGroup">
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Select a Country</mat-label>
    <mat-select formControlName="country" required>
      <mat-option>
        <ngx-mat-select-search
          [formControl]="countryFilterCtrl"
          placeholderLabel="Search country..."
          noEntriesFoundLabel="No matching country"
        >
        </ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let country of filteredCountries" [value]="country">
        {{ country.name.common }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="formGroup.get('country')?.hasError('required')">
      Country is required.
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Select a City</mat-label>
    <mat-select formControlName="city" required>
      <mat-option>
        <ngx-mat-select-search
          [formControl]="cityFilterCtrl"
          placeholderLabel="Search city..."
          noEntriesFoundLabel="No matching city"
        >
        </ngx-mat-select-search>
      </mat-option>
      <ng-container *ngIf="citiesLoading; else cityOptions">
        <mat-option disabled>
          <mat-progress-spinner
            mode="indeterminate"
            diameter="24"
          ></mat-progress-spinner>
          Loading cities...
        </mat-option>
      </ng-container>
      <ng-template #cityOptions>
        <mat-option *ngFor="let city of filteredCitiesList" [value]="city">
          {{ city }}
        </mat-option>
      </ng-template>
    </mat-select>
    <mat-error *ngIf="formGroup.get('city')?.hasError('required')">
      City is required.
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Street</mat-label>
    <input matInput formControlName="street" required />
    <mat-error *ngIf="formGroup.get('street')?.hasError('required')">
      Street is required.
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Street Number</mat-label>
    <input matInput formControlName="streetNumber" required />
    <mat-error *ngIf="formGroup.get('streetNumber')?.hasError('required')">
      Street number is required.
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Zipcode</mat-label>
    <input matInput formControlName="zipCode" required />
    <mat-error *ngIf="formGroup.get('zipCode')?.hasError('required')">
      Zipcode is required.
    </mat-error>
  </mat-form-field>
  <div class="flex justify-end">
    <button mat-button matStepperNext [disabled]="formGroup.invalid">
      Next
    </button>
  </div>
</div>
