<app-navbar></app-navbar>

<ng-container *ngIf="profile === undefined; else loaded">
  <ng-template [ngTemplateOutlet]="loading"></ng-template>
</ng-container>

<ng-template #loaded>
  <ng-container *ngIf="profile === null; else profileCreated">
    <ng-template [ngTemplateOutlet]="form"></ng-template>
  </ng-container>
</ng-template>

<ng-template #profileCreated>
  <div class="text-center p-4">Hello,{{ profile?.userProfile?.username }}!</div>
</ng-template>

<ng-template #form>
  <div class="flex items-center justify-center min-h-screen p-4">
    <mat-horizontal-stepper linear class="w-full max-w-3xl">
      <mat-step [stepControl]="addressForm" label="Address">
        <app-address-form
          [formGroup]="addressForm"
          [countryFilterCtrl]="countryFilterCtrl"
          [filteredCountries]="filteredCountries"
          [cityFilterCtrl]="cityFilterCtrl"
          [filteredCitiesList]="filteredCitiesList"
          [citiesLoading]="false"
        >
        </app-address-form>
      </mat-step>
      <mat-step [stepControl]="userDataForm" label="User Data">
        <app-user-data-form
          [formGroup]="userDataForm"
          [imageSrc]="imageSrc"
          (fileSelectedEvent)="onFileSelected($event)"
          [isFreelancer]="true"
        >
        </app-user-data-form>
      </mat-step>
      <mat-step
        [stepControl]="freelancerProfileForm"
        label="Freelancer profile"
      >
        <app-freelancer-profile-form
          [freelancerProfileForm]="freelancerProfileForm"
          [freelancerProfileSkills$]="freelancerProfileSkills$"
          [uniqueAreas$]="uniqueAreas$"
          [filteredForeignLanguages$]="filteredForeignLanguages$"
          (completeStepper)="completeStepper()"
        >
        </app-freelancer-profile-form>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</ng-template>

<ng-template #loading>
  <div class="flex items-center justify-center min-h-screen">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-template>
