<app-navbar [links]="links"></app-navbar>

<ng-container *ngIf="profile === undefined; else loaded">
  <ng-template [ngTemplateOutlet]="loading"></ng-template>
</ng-container>

<ng-template #loaded>
  <ng-container *ngIf="profile === null; else profileCreated">
    <ng-template [ngTemplateOutlet]="form"></ng-template>
  </ng-container>
</ng-template>

<ng-template #profileCreated>
  <div class="text-center p-4">
    Hello, {{ profile?.user?.username }}!
    <div *ngIf="!profile?.isVerified">
      <app-verify-photo [profile]="profile" [role]="'Freelancer'"></app-verify-photo>
    </div>
  </div>
</ng-template>

<ng-template #form>
  <div class="flex items-center justify-center min-h-screen p-4">
    <mat-horizontal-stepper class="w-full max-w-3xl" #stepper>
      <mat-step [stepControl]="addressForm" label="Address">
        <app-address-form
          [countries]="filteredCountries"
          [filteredCountries]="filteredCountries"
          [filteredCitiesList]="filteredCitiesList"
          [citiesLoading]="citiesLoading"
          [countryFilterCtrl]="countryFilterCtrl"
          [cityFilterCtrl]="cityFilterCtrl"
          [stepper]="stepper"
          [externalForm]="addressForm">
        </app-address-form>
      </mat-step>
      <mat-step [stepControl]="userDataForm" label="User Data">
        <app-user-data-form
          [isFreelancer]="true"
          (imageCaptured)="setImage($event)"
          [stepper]="stepper"
          [externalForm]="userDataForm">
        </app-user-data-form>
      </mat-step>
      <mat-step [stepControl]="freelancerProfileForm" label="Freelancer profile">
        <app-freelancer-profile-form
          [freelancerProfileSkills$]="freelancerProfileSkills$"
          [uniqueAreas$]="uniqueAreas$"
          [filteredForeignLanguages$]="filteredForeignLanguages$"
          (completeStepper)="completeStepper()"
          [stepper]="stepper"
          [externalForm]="freelancerProfileForm">
        </app-freelancer-profile-form>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</ng-template>

<ng-template #loading>
  <div class="flex items-center justify-center min-h-screen">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-template>
