<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Address Data</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="space-y-2">
        <div>City: {{ address.city }}</div>
        <div>Country: {{ address.country }}</div>
        <div>Street: {{ address.street }}</div>
        <div>Street Number: {{ address.streetNumber }}</div>
        <div>Zipcode: {{ address.zipCode }}</div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openEditAddressDialog()">Edit</button>
    </mat-card-actions>
  </mat-card>
</div>
