<h1 mat-dialog-title>Edit {{ data.dialogName }}</h1>
<div *ngIf="data.dialogName === 'Address'" mat-dialog-content>
  <app-address-form
    [countries]="filteredCountries"
    [filteredCountries]="filteredCountries"
    [filteredCitiesList]="filteredCitiesList"
    [citiesLoading]="citiesLoading"
    [countryFilterCtrl]="countryFilterCtrl"
    [cityFilterCtrl]="cityFilterCtrl"
    [externalForm]="addressForm"
    [addressData]="data.address!"
    [isDialog]="true"
  >
  </app-address-form>
</div>
<div *ngIf="data.dialogName === 'UserData'" mat-dialog-content>
  <app-user-data-form
    [isFreelancer]="false"
    (imageCaptured)="setImage($event)"
    [isDialog]="true"
    [externalForm]="userDataForm"
  >
  </app-user-data-form>
</div>
<div *ngIf="data.dialogName === 'FreelancerData'" mat-dialog-content>
  <app-freelancer-profile-form
    [freelancerProfileSkills$]="freelancerProfileSkills$"
    [uniqueAreas$]="uniqueAreas$"
    [filteredForeignLanguages$]="filteredForeignLanguages$"
    [isDialog]="true"
    [externalForm]="freelancerProfileForm"
  >
  </app-freelancer-profile-form>
</div>
<div *ngIf="data.dialogName === 'Address'" mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button
    mat-button
    color="primary"
    (click)="onSave()"
    [disabled]="addressForm.invalid"
  >
    Save
  </button>
</div>

<div
  *ngIf="data.dialogName === 'FreelancerData'"
  mat-dialog-actions
  align="end"
>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button
    mat-button
    color="primary"
    (click)="onSave()"
    [disabled]="freelancerProfileForm.invalid"
  >
    Save
  </button>
</div>

<div *ngIf="data.dialogName === 'UserData'" mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button
    mat-button
    color="primary"
    (click)="onSave()"
    [disabled]="userDataForm.invalid"
  >
    Save
  </button>
</div>
